---
import Layout from "../layouts/Layout.astro";
import Headers from "../components/Header.astro";
import HeroSection from "../components/HeroSection.astro";
import ChargeSection from "../components/ChargeSection.astro";
import Accesorios from "../components/Accesorios.astro";
import BenelliEicma from "../components/BenelliEicma.astro";
import Ninja from "../components/Ninja.astro";
import FooterMenu from "../components/FooterMenu.astro";
---

<Layout
  title="Clon - Tesla - Landing - Motos"
  iconSitio="../../public/Logos/helmet.png"
>
  <Headers />

  <main
    class="snap-y snap-mandatory relative w-full h-screen overflow-auto scroll-smooth"
  >
    <div class="snap-center">
      <HeroSection />
    </div>

    <div class="snap-center">
      <ChargeSection />
    </div>

    <div class="snap-center">
      <BenelliEicma />
    </div>

    <div class="snap-center">
      <Ninja />
    </div>

    <div class="snap-center">
      <Accesorios />
    </div>
  </main>
</Layout>
