---
import Section from "./Section.astro";
import imgBenelli from "../../public/Img/benelli-2025.jpg";
---

<Section
  title="Modelo Benelli Eicma"
  subtitle="Concertar una prueba de conducción"
  color="white"
  id="benelli-2025"
>
  <div slot="footer" class="gap-x-6 flex mx-auto">
    <a
      class="border-[3px] border-gray-600 bg-gray-600 text-sm rounded font-medium text-white px-12 py-2 inline-block transition-colors hover:border-gray-400 hover:bg-gray-400"
      href="#benelli-2025"
    >
      Explorar inventario</a
    >
    <a
      class="border-[3px] border-white bg-white text-sm rounded font-medium px-12 py-2 transition-colors hover:bg-black hover:text-white inline-flex justify-center items-center text-black
        hover:border-black"
      href="#"
    >
      Pedido personalizado</a
    >
  </div>

  <img
    slot="background"
    alt="Modelo Benelli Eicma"
    class="h-full w-full object-cover object-center bg-image"
    src={imgBenelli.src}
    id="img-benelli"
  />
</Section>
