---
import Section from "./Section.astro";
---

<Section
  title="Disfurte de un Motovehiculo."
  subtitle="Programe una visita a nuestro local. "
  color="white"
>
  <div slot="footer">
    <button
      ><a
        class="text-white text-sm border-[3px] border-white bg-white/50 backdrop-blur-sm rounded font-medium px-12 py-2 inline-block
                hover:bg-white hover:text-black transition-colors"
        href="#">Pruebe un Motovehiculo</a
      ></button
    >
  </div>

  <video
    slot="background"
    class="object-center object-cover w-full h-full"
    autoplay
    muted
    loop
    src="../../public/Videos/yamaha-motos.webm"
  >
  </video>
</Section>
