---
import Section from "./Section.astro";
import ImgNinja from "../../public/Img/kawasaki-ninja-zx.jpg";
---

<Section
  title="Kawasaki Ninja ZX Blue"
  subtitle="Visite nuestro local."
  color="black"
  id="ninja-zx"
>
  <div slot="footer" class="gap-x-6 flex mx-auto">
    <a
      class="border-[3px] border-white/50 bg-gray-600 text-sm rounded font-medium text-white px-12 py-2 inline-block transition-colors hover:border-gray-400 hover:bg-gray-400"
      href="#"
    >
      Explorar inventario</a
    >
    <a
      class="border-[3px] border-white/80 bg-white/70 text-sm rounded font-medium px-12 py-2 transition-colors hover:bg-black hover:text-white inline-flex justify-center items-center text-black
        hover:border-black"
      href="#"
    >
      Pedido personalizado</a
    >
  </div>

  <img
    slot="background"
    alt="Modelo Ninja ZX"
    class="h-full w-full object-cover object-center bg-image"
    src={ImgNinja.src}
    id="bg-image-ninja"
  />
</Section>
