---
import Section from "./Section.astro";
import ImgNinja from "../../public/Img/ninja-zx-6r-black.webp";
import ImgNinjaMovil from '../../public/Img/ninja-zx-6r-black-moviles.webp'
---

<Section
  title="Kawasaki Ninja ZX 6R Black"
  subtitle="Visite nuestro local."
  color="white"
  id="ninja-zx"
>
  <div slot="footer" class="gap-x-6 flex mx-auto max-md:gap-x-2 max-md:p-2">
    <a
      class="border-[3px] border-white/50 bg-gray-600 text-sm rounded font-medium text-white px-12 py-2 inline-block transition-colors hover:border-gray-400 hover:bg-gray-400 max-md:px-4"
      href="#"
    >
      Explorar inventario</a
    >
    <a
      class="border-[3px] border-white/80 bg-white/70 text-sm rounded font-medium px-12 py-2 transition-colors hover:bg-black hover:text-white inline-flex justify-center items-center text-black hover:border-black max-md:px-4"
      href="#"
    >
      Pedido personalizado</a
    >
  </div>

  <img
    slot="background"
    alt="Modelo Ninja ZX"
    class="h-full w-full object-cover object-center bg-image hidden md:block"
    src={ImgNinja.src}
    id="bg-image-ninja"
  />
  <img
    slot="background"
    alt="Modelo Ninja ZX"
    class="h-full w-full object-cover object-center bg-image block md:hidden"
    src={ImgNinjaMovil.src}
    id="bg-image-ninja-mobile"
  />
</Section>
